/* Define tus colores aquí o utiliza estos colores básicos como ejemplo */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

#countdown-container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

#countdown {
    font-size: 36px;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}